---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Evlilik Sitesi">
	<main>
		<div class="page">
			<div class="navbar">
				<Navbar />
			</div>
		</div>
	</main>
</Layout>

<style>
	.page {
		width: 100vw;
		height: auto;
		min-height: 100vh;
	}

	.navbar {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		z-index: 1;
		padding-top: 32px;
		padding-left: calc(-575px + 50vw);
		padding-right: calc(-575px + 50vw);
		box-sizing: border-box;
	}
</style>