---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SubHero from '../components/SubHero.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Evlilik Sitesi">
	<main>
		<div class="page">
			<Navbar />
			<Hero />
			<SubHero />
			<Content />
			<Footer />
		</div>
	</main>
</Layout>

<style>
	.page {
		width: 100vw;
		height: auto;
		min-height: 100vh;
	}
</style>