---
import { Image } from "astro:assets";
import myImage from '/public/assets/images/landing/reklam-married-min.webp';
---

<div class="content">
    <div class="content-container">
        <div class="content-wrapper">
            <div class="content-card">
                <div class="landing-column-img">
                    <img alt="Pembe Panjur, Evlilik Sitesi, Aslı ve Kerem" title="Pembe Panjur, Evlilik Sitesi, Aslı ve Kerem" loading="lazy" decoding="async" data-nimg="fill" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" src="/assets/images/landing/asli-kerem-min.webp" style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                </div>
                <div class="landing-column-content">
                    <h2>Aslı ve Kerem</h2>
                    <div class="card-description">
                        <p>23 Kasım 2016'da tanıştılar</p>
                        <p>12 Eylül 2018'de nişanlandılar.</p>
                    </div>
                    <div class="icon-img">
                        <img alt="Pembe Panjur, Evlilik Sitesi, Aslı ve Kerem" title="Pembe Panjur, Evlilik Sitesi, Aslı ve Kerem" loading="lazy" width="1" height="1" decoding="async" data-nimg="1" src="/assets/images/icons/icon-16.svg" style="color: transparent; max-width: 100%; height: auto; object-fit: contain;">
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="landing-column-img">
                    <img alt="Pembe Panjur, Evlilik Sitesi, Meliha ve Berkay" title="Pembe Panjur, Evlilik Sitesi, Meliha ve Berkay" loading="lazy" decoding="async" data-nimg="fill" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" src="/assets/images/landing/melih-berkay-min.webp" style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                </div>
                <div class="landing-column-content">
                    <h2>Meliha ve Berkay</h2>
                    <div class="card-description">
                        <p>10 Eylül 2017'de tanıştılar</p>
                        <p>5 Ağustos 2018'de nişanlandılar.</p>
                    </div>
                    <div class="icon-img">
                        <img alt="Pembe Panjur, Evlilik Sitesi, Meliha ve Berkay" title="Pembe Panjur, Evlilik Sitesi, Meliha ve Berkay" loading="lazy" width="1" height="1" decoding="async" data-nimg="1" src="/assets/images/icons/icon-15.svg" style="color: transparent; max-width: 100%; height: auto; object-fit: contain;">
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="landing-column-img">
                    <img alt="Pembe Panjur, Evlilik Sitesi, Nilay ve Cihan" title="Pembe Panjur, Evlilik Sitesi, Nilay ve Cihan" loading="lazy" decoding="async" data-nimg="fill" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" src="/assets/images/landing/nilay-cihan-min.webp" style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                </div>
                <div class="landing-column-content">
                    <h2>Nilay ve Cihan</h2>
                    <div class="card-description">
                        <p>3 Mayıs 2017'de tanıştılar</p>
                        <p>22 Eylül 2018'de nişanlandılar.</p>
                    </div>
                    <div class="icon-img">
                        <img alt="Pembe Panjur, Evlilik Sitesi, Nilay ve Cihan" title="Pembe Panjur, Evlilik Sitesi, Nilay ve Cihan" loading="lazy" width="1" height="1" decoding="async" data-nimg="1" src="/assets/images/icons/icon-15.svg" style="color: transparent; max-width: 100%; height: auto; object-fit: contain;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advertisement-content-container">
        <div class="advertisement-content-wrapper">
            <div class="advertisement-content-img">
                <Image
                    src={myImage}
                    widths={[640, 750, 828, 1080, 1200, 1920, 2048, 3840, myImage.width]}
                    sizes={`100vw`}
                    alt="hello"
                    style={"height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent; aspect-ratio: 1/1;"}
                />
            </div>
            <div class="advertisement-content-text">
                <p>Evlilik ya da ciddi ilişki için en önemli koşullardan biri tanışıp yüz yüze görüşebilmektedir. Sitemiz bireylerin birbirlerine olan mesafelerinin önemli olduğunun bilincindedir ve sistemi size bu konuda yardımcı olmak üzere tasarlanmıştır. Üye olurken tanışmak istediğiniz kişinin sizden en fazla ne kadar uzakta yaşamasını tercih ettiğinizi belirtmeniz doğru olur. Bu sayede size en yakın üyelerle tanışmayı gerçekleştirebilirsiniz. Pembe Panjur gerektiğinde İstanbul Evlilik Sitesi gibi üyelerinin bulunduğu şehre özel bir evlilik sitesi gibi hizmet vermektedir. Bu hizmet, üyelerin aşkı uzaklarda arama sorununu tamamen ortadan kaldırır.</p>
                <p>Sağlıklı ve mutlu bir ilişki kurabilmek için gereken tüm hizmetleri sunan İstanbul Evlilik Sitesi hayatı paylaşmayı istediğiniz insanı size daha da yakınlaştırma hedefiyle çalışmaktadır. İstanbul ve yakınlarındaki tüm eş veya sevgili adaylarını tanımak için üye olmanız yeterlidir.</p>
            </div>
        </div>
    </div>
</div>

<style>
    .content {
        position: relative;
        width: 100vw;
        box-sizing: border-box;
    }
    
    .content-container {
        position: relative;
        background-color: rgb(255, 255, 255);
        padding: 40px 24px 35px;
    }
    
    .content-container > .content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 0px auto;
        width: 100%;
        box-sizing: border-box;
        padding: 0px calc(-575px + 50vw);
    }

    .content-card {
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 110px;
    }

    .landing-column-img {
        position: relative;
        display: block;
        padding-top: 100%;
        width: 100%;
    }

    .landing-column-content {
        height: 100%;
        padding: 36px 18px 34px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content-card .landing-column-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .content-card .landing-column-content h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        margin: 0px 0px 26px;
    }

    .card-description {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .card-description > p {
        margin: 0px 0px 20px;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0px;
        text-transform: lowercase;
        color: rgb(0, 0, 0);
    }

    .card-description > p:last-child {
        margin-bottom: 9px;
    }

    .icon-img {
        width: 100%;
        max-width: 145px;
        margin-top: 31px;
    }

    .advertisement-content-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 24px 65px 24px;
        background: rgba(0, 0, 0, .03);
    }

    .advertisement-content-container > .advertisement-content-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        padding: 0 -webkit-calc(50vw - 575px);
        padding: 0 -moz-calc(50vw - 575px);
        padding: 0 calc(50vw - 575px);
    }

    .advertisement-content-container > .advertisement-content-wrapper > .advertisement-content-img {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 100% 0 0 0;
        margin: 0 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .advertisement-content-container > .advertisement-content-wrapper > .advertisement-content-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
    }

    .advertisement-content-container > .advertisement-content-wrapper > .advertisement-content-text {
        position: relative;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .advertisement-content-container > .advertisement-content-wrapper > .advertisement-content-text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000;
        margin-bottom: 15px;
    }

    @media (max-width: 767px) {
        .content-container > .content-wrapper {
            grid-template-columns: repeat(1, 1fr);
        }

        .advertisement-content-container>.advertisement-content-wrapper {
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 0;
        }
    }

</style>