
<div class="footer">
    <div class="pp-footer-container">
        <div class="pp-footer-wrapper pp-footer-wrapper__grid">
            <div class="pp-footer-column">
                <div class="pp-footer-contact">
                    <div class="logo">
                        <img alt="Pembe Panjur" title="Pembe Panjur Logo" loading="lazy" width="222" height="62" decoding="async" data-nimg="1" src="/footer-logo.png" style="color: transparent;">
                    </div>
                    <div class="pp-footer-shortcuts">
                        <div>
                            <p>Bize ulaşabilirsiniz</p>
                        </div>
                        <div>
                            <h3>Destek Hattı E-posta:</h3>
                            <a href="mailto: bilgi@pembepanjur.com">bilgi@pembepanjur.com</a>
                        </div>
                        <div>
                            <h3>Destek Hattı Telefon:</h3>
                            <a href="tel: 08505580808">0 850 558 08 08</a>
                        </div>
                    </div>
                </div>
                <div class="pp-footer-social-media"></div>
            </div>
            <div class="pp-footer-column">
                <div class="line">
                    <h3>Kısayollar</h3>
                    <div style="margin-bottom: 12px;">
                        <a href="/hakkinda" class="bkzqax">
                            <span>Hakkımızda</span>
                        </a>
                        <a href="/basin" class="bkzqax">
                            <span>Basın</span>
                        </a>
                        <a href="/kariyer" class="bkzqax">
                            <span>Kariyer</span>
                        </a>
                        <a href="/basari-hikayeleri-gonder" class="bkzqax">
                            <span>Hikayeni Gönder</span>
                        </a>
                        <a href="/iletisim" class="bkzqax">
                            <span>İletişim</span>
                        </a>
                    </div>
                    <h3 style="margin-bottom: 20px;">Şehirler</h3>
                    <div>
                        <a href="/istanbul-evlilik-sitesi" class="bkzqax bqmjmy">
                            <span>İstanbul Evlilik</span>
                        </a>
                        <a href="/ankara-evlilik-sitesi" class="bkzqax bqmjmy">
                            <span>Ankara Evlilik</span>
                        </a>
                        <a href="/izmir-evlilik-sitesi" class="bkzqax bqmjmy">
                            <span>İzmir Evlilik</span>
                        </a>
                        <a href="/antalya-evlilik-sitesi" class="bkzqax bqmjmy">
                            <span>Antalya Evlilik</span>
                        </a>
                        <a href="/bursa-evlilik-sitesi" class="bkzqax bqmjmy">
                            <span>Bursa Evlilik</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pp-footer-column">
                <div class="line">
                    <h3>Yardıma İhtiyacınız mı var?</h3>
                    <div>
                        <a href="/yardim" class="bkzqax">
                            <span>Yardım</span>
                        </a>
                        <a href="/gizlilik-sozlesmesi" class="bkzqax">
                            <span>Gizlilik Sözleşmesi</span>
                        </a>
                        <a href="/uyelik-sozlesmesi" class="bkzqax">
                            <span>Üyelik Sözleşmesi</span>
                        </a>
                        <a href="/aydinlatma-metni" class="bkzqax">
                            <span>Aydınlatma Metni</span>
                        </a>
                        <a href="/cerez-politikasi" class="bkzqax">
                            <span>Çerez Politikası</span>
                        </a>
                        <a href="/kisisel-verilerin-korunmasi" class="bkzqax">
                            <span>Kişisel Verilerin Korunması</span>
                        </a>
                        <a href="/cagri-aydinlatma" class="bkzqax">
                            <span>Çağrı Merkezi Aydınlatması</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pp-footer-column">
                <div class="pp-footer-app-download-section">
                    <h3>Uygulamamızı İndirdiniz mi?</h3>
                    <p>Mutluluk şimdi parmaklarınızın ucunda! Her an her yerden hesabınıza ulaşabilmek için Pembe Panjur uygulamasını hemen indirin.</p>
                    <div class="store-and-qr-section">
                        <div class="store">
                            <a href="https://apps.apple.com/tr/app/pembe-panjur-evlilik-tan%C4%B1%C5%9Fma/id708825011?l=tr" target="_blank" rel="noreferrer" title="Pembe Panjur App Store" class="img-button">
                                <img alt="Pembe Panjur App Store" loading="lazy" width="175" height="58" decoding="async" data-nimg="1" src="/app-store.png" style="color: transparent;">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.pembepanjur&amp;hl=tr&amp;gl=US&amp;pli=1" target="_blank" rel="noreferrer" title="Pembe Panjur Google Play" class="img-button">
                                <img alt="Pembe Panjur Google Play" loading="lazy" width="175" height="53" decoding="async" data-nimg="1" src="/google-play.png" style="color: transparent;">
                            </a>
                        </div>
                        <div class="qr">
                            <div class="qr-background-gradient">
                                <div class="canvas">
                                    <img src="/qr-code.png" style="width: 80px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-footer-wrapper">
            <div class="pp-footer-row">
                <div class="pp-footer-social-media">
                    <a href="https://www.facebook.com/pembepanjur" target="_blank" rel="noreferrer" title="Pembe Panjur Facebook" class="social-button">
                        <img alt="" loading="lazy" width="47" height="47" decoding="async" data-nimg="1" src="/assets/icons/Facebook.svg" style="color: transparent;">
                    </a>
                    <a href="https://www.instagram.com/pembepanjur/" target="_blank" rel="noreferrer" title="Pembe Panjur Instagram" class="social-button">
                        <img alt="" loading="lazy" width="47" height="47" decoding="async" data-nimg="1" src="/assets/icons/Instagram.svg" style="color: transparent;">
                    </a>
                    <a href="https://twitter.com/pembepanjur" target="_blank" rel="noreferrer" title="Pembe Panjur Twitter" class="social-button">
                        <img alt="" loading="lazy" width="47" height="47" decoding="async" data-nimg="1" src="/assets/icons/Twitter.svg" style="color: transparent;">
                    </a>
                    <a href="https://www.youtube.com/c/pembepanjur" target="_blank" rel="noreferrer" title="Pembe Panjur Youtube" class="social-button">
                        <img alt="" loading="lazy" width="47" height="47" decoding="async" data-nimg="1" src="/assets/icons/Youtube.svg" style="color: transparent;">
                    </a>
                </div>
                <div class="pp-footer-all-rights-reserved">
                    <div class="all-rights-reserved">
                        2010 - 2024 © PEMBE PANJUR. TÜM HAKLARI SAKLIDIR. 
                        <span>|</span>
                        14 Haziran 2024
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .footer {
        position: relative;
        background: linear-gradient(rgb(210, 20, 125) 0%, rgb(117, 34, 126) 76.56%, rgb(84, 29, 152) 99.99%, rgb(210, 20, 125) 100%);
    }

    .footer > .pp-footer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 67px 116px 128px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0px auto;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column {
        flex: 1 1 0%;
        margin-right: 20px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .logo {
        margin-bottom: 30px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div {
        font-family: Manrope, sans-serif;
        font-size: 20px;
        line-height: 32px;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
    }
    
    h3 {
        margin-top: 32px;
        letter-spacing: 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: 800;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div > h3 {
        font-weight: 400;
        margin-bottom: 0px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div > a {
        display: inline-block;
        transition: all 0.5s ease 0s;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div > a:hover {
        opacity: 0.8;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div > p, .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div > a {
        font-size: 16px;
        line-height: 25px;
        font-weight: 800;
        margin: 0px;
    }
    
    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-contact > .pp-footer-shortcuts > div:last-child {
        margin-bottom: 0px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper__grid > .pp-footer-column:nth-child(2) {
        padding-left: 40px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .line > h3 {
        font-family: Manrope, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .line > div > a {
        font-size: 16px;
        text-decoration: none;
    }

    .bkzqax {
        display: block;
        width: fit-content;
        text-transform: none;
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .bqmjmy {
        line-height: 25px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > h3 {
        font-family: Manrope, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > p {
        font-family: Manrope, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
    }

    li, p {
        letter-spacing: 0;
        margin-top: 17px;
        margin-bottom: 17px;
        font-size: 14px;
        font-weight: 400;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .store {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 18px;
    }

    .img-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: all 0.5s ease 0s;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .store > a {
        margin-bottom: 22px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .store > a:last-child {
        margin-bottom: 0px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .qr {
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 14px;
        max-width: 132px;
        max-height: 134px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .qr > .qr-background-gradient {
        display: flex;
        border-radius: 20px;
        background-image: linear-gradient(rgb(46, 211, 225), rgb(39, 207, 224), rgb(31, 203, 224), rgb(24, 199, 223), rgb(16, 195, 222), rgb(9, 191, 220), rgb(4, 186, 217), rgb(0, 182, 215), rgb(0, 176, 211), rgb(0, 171, 208), rgb(0, 165, 204), rgb(0, 160, 200));
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .qr > .qr-background-gradient > .canvas, .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-app-download-section > .store-and-qr-section > .qr > .qr-background-gradient amp-img {
        position: relative;
        z-index: 2;
        padding: 14px;
        max-width: 108px;
        max-height: 110px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-column > .pp-footer-social-media {
        display: none;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer > .pp-footer-container > .pp-footer-wrapper:first-child {
        border-bottom: 1px solid rgb(255, 255, 255);
        margin-bottom: 32px;
        padding-bottom: 36px;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row {
        position: relative;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    a {
        cursor: pointer;
        color: #a31061;
        transition: color .3s ease-in-out;
    }

    .social-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 47px;
    }

    .social-button:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: "";
        box-sizing: content-box;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: all 300ms ease 0s;
    }

    .social-button:hover:after {
        opacity: 1;
        transform: scale(1.15);
    }

    .img-button:hover {
        transform: scale(1.05);
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row > .pp-footer-social-media {
        position: relative;
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row > .pp-footer-social-media > a {
        display: inline-block;
        margin-right: 30px;
    }

    .all-rights-reserved {
        font-family: Manrope, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgb(255, 255, 255);
    }

    .all-rights-reserved > span {
        margin: 0px 30px;
    }

    @media (min-width: 767px) and (max-width: 1440px) {
        .footer > .pp-footer-container {
            padding-right: 20px;
            padding-left: 20px;
        }
        .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row > .pp-footer-social-media {
            flex: 1 1 0%;
        }

        .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row > .pp-footer-social-media > a {
            margin-right: 20px;
        }
     
        .all-rights-reserved {
            font-size: 12px;
        }
    }

    .footer > .pp-footer-container > .pp-footer-wrapper > .pp-footer-row > .pp-footer-social-media > a:last-child {
        margin-right: 0px;
    }
    
</style>