
<div class="subHeroArea">
    <div class="grid">
        <div class="breadcrumbs">PEMBE PANJUR > EVLİLİK > EVLİLİK SİTESİ</div>
        <div class="typography">Bir şehir gibi ol. Mesela İstanbul gibi. De ki hep seveceğim seni.</div>
        <div class="cards">
            <div class="hero-card">
                <div class="property-lines-container">
                    <div class="property-lines-row">
                        <div class="property-lines-wrapper">
                            <div class="property-lines-icon property-lines-icon__about_us">
                                <img alt="EVLİLİK SİTESİ İLE ONA DAHA YAKINSIN" title="EVLİLİK SİTESİ İLE ONA DAHA YAKINSIN" loading="lazy" width="168" height="126" decoding="async" data-nimg="1" class="image" src="/assets/images/icons/icon-2.svg" style="color: transparent; width: 168px; height: 126px;">
                            </div>
                        </div>
                        <div class="property-lines-wrapper">
                            <h2>EVLİLİK SİTESİ İLE ONA DAHA YAKINSIN</h2>
                            <p>Batı ülkeleriyle kıyaslandığında evliliğin Türkiye’de insanların hayatında çok daha önemli bir yer aldığını söylemek mümkün. Geleneksel değerlerimizin hala canlı olması, aile kavramının önemi, çocuk severliğimiz ve dini inançlarımız şüphesiz bunu etkilemektedir. Gençlerin evlenme yaşı önceki senelere nazaran artmasına rağmen hiç evlenmemeyi tercih edenlerin sayısı oldukça düşük. Mutlu bir evlilik ve çocuk sahibi olarak bir aile kurmak, çoğu gencin en büyük hayalidir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-card">
                <div class="property-lines-container">
                    <div class="property-lines-row">
                        <div class="property-lines-wrapper">
                            <div class="property-lines-icon property-lines-icon__about_us">
                                <img alt="EVLİLİK SİTESİ HAKKINDA" title="EVLİLİK SİTESİ HAKKINDA" loading="lazy" width="168" height="126" decoding="async" data-nimg="1" class="image" src="/assets/images/icons/icon-9.svg" style="color: transparent; width: 168px; height: 126px;">
                            </div>
                        </div>
                        <div class="property-lines-wrapper">
                            <h2>EVLİLİK SİTESİ HAKKINDA</h2>
                            <p>O önemli gün geldiğinde ise Türkiye’de ne şekilde ve hangi gelenek ve adetler uygulanarak evlenildiği konusunda bölgelere ve aile içerisindeki yapıya göre çok büyük farklılıklar görülmektedir. Kimi çiftler 3 gün 3 gece süren coşkulu ve kalabalık köy düğünüyle evlenmeyi hayal eder. Kimileri ise ekonomik nedenlerden dolayı nikah dairesinde evlenmekle yetinmek zorunda kalırlar. Bazı çiftlerse geleneksel düğünlerdeki kalabalığı ve şaşaayı tercih etmeyip, yanlızca en yakın çevrelerini davet eder ve sakin bir düğün yemeğinden sonra egzotik bir ülkeye balayına çıkmayı tercih eder.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-card">
                <div class="property-lines-container">
                    <div class="property-lines-row">
                        <div class="property-lines-wrapper">
                            <div class="property-lines-icon property-lines-icon__about_us">
                                <img alt="EVLİLİK SİTESİ" title="EVLİLİK SİTESİ" loading="lazy" width="168" height="126" decoding="async" data-nimg="1" class="image" src="/assets/images/icons/icon-1.svg" style="color: transparent; width: 168px; height: 126px;">
                            </div>
                        </div>
                        <div class="property-lines-wrapper">
                            <h2>EVLİLİK SİTESİ</h2>
                            <p>Geleneksel evlenme ritüellerimize, daha sakin ve sade bir töreni tercih edenlerin sayısının artmasıyla beraber yeni gelişen bazı kutlama şekilleri de eklenince Türkiye, evlilik törenleri konusunda belki de en renkli mozaiğe sahip ülkelerden biri haline geliyor. Şekil ne olursa olsun, ülkemizde çoğu bekar insanın mutlaka bir gün o veya bu şekilde evlenmek istediği kesin. Peki siz de hayatınızda yeni bir dönem açmaya hazır mısınız? Pembe Panjur sayesinde mutluluğu yakalamak ve hayatınızın insanını bulmak artık çok kolay. Sizi tamamlayan o özel insanı ararken artık arkadaş çevrenize, iş yerinize veya iyi niyetli bir teyzenin size uygun bir eş bulmasına bağlı değilsiniz. Bilimsel araştırmalara dayanan kişilik analiz testi ve ayrıntılı arama kriterleri sayesinde beklentilerinize cevap verecek ve sizi mutlu bir evliliğe götürecek insan çok yakınınızda! Pembe Panjur hayalinizdeki insanı bulmanızda ve yeni ufuklara yelken açmanızda bol şanslar diler.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .subHeroArea {
        position: relative;
        width: 100vw;
        box-sizing: border-box;
        background: linear-gradient(rgb(210, 20, 125) 0%, rgb(117, 34, 126) 76.56%, rgb(84, 29, 152) 99.99%, rgb(210, 20, 125) 100%);
        padding: 28px 24px 35px;
    }

    .grid {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0px calc(-575px + 50vw);
    }

    .breadcrumbs {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        margin-bottom: 15px;
    }

    .typography {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0px;
        color: rgb(255, 255, 255);
        margin-bottom: 50px;
    }

    .cards {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-card {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        background: rgb(255, 255, 255);
        border-radius: 6px;
    }

    .cards > div {
        margin-left: 0px;
        margin-right: 0px;
        background: unset;
        margin-bottom: 23px;
    }

    .hero-card > .property-lines-container {
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 0px auto 18px;
        border-radius: 10px;
        padding: 0px 89px 5px 15px;
    }

    .cards > div > div.property-lines-container {
        padding-top: 23px;
        padding-bottom: 35px;
        background: rgb(255, 255, 255);
    }

    .cards > div > div.property-lines-container:last-child {
        margin-bottom: 0px;
    }

    .property-lines-row {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper:first-child {
        flex: 1 1 0%;
    }

    .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper:last-child {
        flex: 6 1 0%;
    }

    @media(min-width: 767px) {
        .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper:last-child {
            padding-top: 20px;
        }
    }

    .property-lines-icon {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .property-lines-icon__about_us {
        width: 168px;
    }

    .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper > h2 {
        font-family: Manrope, sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: rgb(0, 0, 0);
        margin-bottom: 28px;
        margin-top: 0px;
    }

    .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper > p {
        font-family: Manrope, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        color: rgb(115, 115, 115);
        margin: 0px;
        white-space: pre-line;
    }

    @media (max-width: 767px) {
        .subHeroArea {
            background: unset;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .breadcrumbs {
            color: black;
        }

        .typography {
            color: black;
            margin-bottom: 0px;
        }

        .hero-card {
            padding: 0px 0px 30px;
        }

        .hero-card:first-child {
            padding-top: 70px;
        }

        .hero-card > .property-lines-container {
            flex-direction: column;
            padding: 6px 20px 30px;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background: rgb(255, 255, 255);
        }

        .hero-card > .property-lines-container > .property-lines-row {
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }

        .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper > .property-lines-icon {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper > h2 {
            text-align: center;
            width: 100%;
            font-size: 16px;
            font-weight: 800;
        }
        
        .hero-card > .property-lines-container > .property-lines-row > .property-lines-wrapper > p {
            text-align: center;
        }
    }

</style>