---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Üyelerini bilimsel kişilik testi ve sosyo-ekonomik yaşam analizi sonucunda eşleştiren, bütün profillerin gizli olduğu ciddi ilişki ve evlilik sitesi." />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="../styles/fonts.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style="overflow: revert-layer;">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--font-manrope: Manrope, sans-serif;
		--color-gray-storm: #697488;
	}
	html {
		width: 100vw;
		overflow-x: hidden;
		min-height: 100vh;
		padding: 0;
		margin: 0;
		font-family: Manrope, sans-serif;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	body {
		background-color: rgba(245, 245, 245, 0.5);
		line-height: 1;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
	}

	::placeholder {
		/* Most modern browsers support this */
		color: black;
	}

	::-webkit-input-placeholder {
		/* WebKit browsers */
		color: black;
	}

	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: black;
		opacity: 1; /* Firefox adds a lower opacity to the placeholder, so we need to override that to match other browsers */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: black;
	}

	:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: black;
		opacity: 1;
	}

	input:focus::placeholder {
		color: transparent;
	}

	input:focus::-webkit-input-placeholder {
		color: transparent;
	}

	input:focus::-moz-placeholder {
		color: transparent;
	}

	input:focus:-ms-input-placeholder {
		color: transparent;
	}

</style>
